.code-snippet-container {
   display: grid;
   grid-template-areas: 'a b b b c d' 'e e e f f f';
   grid-template-columns: 50px auto auto 140px 150px 100px;
   grid-template-rows: 50px calc(100% - 50px);
   width: 100%;
   height: 100%;

   .code-snippet-back {
      grid-area: a;
      width: 100%;
      height: 100%;
      background: var(--scnd-def-col-bg);
      transition: all 0.25s ease-in;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover svg {
         filter: brightness(1.4);
      }
   }

   .code-snippet-title {
      grid-area: b;
      width: 100%;
      height: 100%;
      text-indent: 15px;
      background: var(--scnd-def-col-bg);
      border: unset;
      color: var(--prim-def-col-fg);
      font-size: xx-large;
   }

   .code-snippet-select {
      grid-area: c;
      width: 100%;
      height: 100%;
      background: var(--prim-def-col-bg);
      border: unset;
      color: var(--prim-def-col-fg);
      font-size: larger;
      outline: unset;
      text-indent: 10px;
   }

   .code-snippet-actions {
      grid-area: d;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .delete-icon,
      .save-icon {
         cursor: pointer;

         &:hover {
            filter: brightness(1.4);
         }
      }
   }

   .code-snippet-code {
      grid-area: e;
      width: 100% !important;
      height: 100% !important;
      overflow: auto;
   }

   .code-snippet-desc {
      grid-area: f;
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-rows: 50px calc(100% - 50px);
      padding-left: 5px;
      background: var(--tert-brand-col);

      span,
      textarea {
         width: 100%;
         height: 100%;
      }

      span {
         display: flex;
         justify-content: center;
         align-items: center;
         background: var(--scnd-def-col-bg);
         font-size: x-large;
      }

      textarea {
         background: var(--tert-def-col-bg);
         color: var(--prim-brand-col);
         padding: 10px;
         font-size: x-large;
         outline: unset;
         border: unset;
      }
   }
}