body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;

   a {
      text-decoration: none;
      color: unset;
   }

   textarea,
   input {
      outline: none;
   }

   * {
      box-sizing: border-box;
      line-height: 1em;
      font-family: var(--prim-def-fn-family);
   }

   ::-webkit-scrollbar {
      width: 4px;
   }

   ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: var(--bo-radius);
   }

   ::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: var(--bo-radius);
   }

   ::-webkit-scrollbar-thumb:hover {
      background: #555;
   }
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
   --prim-def-fn-family: Roboto;
   --code-def-fn-family: monospace;
   --hdr-def-fn-weight: 500;
   --prim-def-fn-weight: 400;
   --scnd-def-fn-weight: 300;
   --tert-def-fn-weight: 200;
   --hdr-def-fn-size: 20px;
   --prim-def-fn-size: 16px;
   --theme-fn-family: "Roboto";
   --theme-fn-size: 16px;
   --theme-fn-weight: 450;
   --prim-brand-col-rgb: 251, 101, 8;
   --prim-brand-col: #FB6508;
   --scnd-brand-col: #3A5B48;
   --scnd-brand-col-rgb: 58, 91, 72;
   --tert-brand-col: #30898F;
   --black: #000000;
   --white: #FFFFFF;
   --err: #FF4444;
   --err-minor: #d07373;
   --warn: #FFFD7A;
   --success: #00C811;
   --notify: #33B5E5;
   --z: 0;
   --z-sticky: 2;
   --z-loading: 3;
   --z-notify: 4;
   --z-modal: 6;
   --z-modal-sticky: 8;
   --z-modal-loading: 9;
   --z-modal-notify: 10;
   --quk-trans: 200ms;
   --col-trans: 250ms;
   --shp-trans: 350ms;
   --bo-radius: 5px;
   --circ-radius: 50%;
   --pal-light-0: hsl(225, 10%, 98%);
   --pal-light-1: hsl(225, 10%, 95%);
   --pal-light-2: hsl(225, 10%, 92%);
   --pal-light-3: hsl(225, 10%, 89%);
   --pal-light-4: hsl(225, 10%, 86%);
   --pal-light-5: hsl(225, 10%, 83%);
   --pal-light-6: hsl(225, 10%, 80%);
   --pal-light-7: hsl(225, 10%, 77%);
   --pal-dark-0: hsl(225, 10%, 5%);
   --pal-dark-1: hsl(225, 10%, 8%);
   --pal-dark-2: hsl(225, 10%, 11%);
   --pal-dark-3: hsl(225, 10%, 14%);
   --pal-dark-4: hsl(225, 10%, 17%);
   --pal-dark-5: hsl(225, 10%, 20%);
   --pal-dark-6: hsl(225, 10%, 23%);
   --pal-dark-7: hsl(225, 10%, 26%);
   --pal-light-fg-0: hsl(0, 0%, 42%);
   --pal-light-fg-1: hsl(0, 0%, 36%);
   --pal-light-fg-2: hsl(0, 0%, 30%);
   --pal-light-fg-3: hsl(0, 0%, 24%);
   --pal-light-fg-4: hsl(0, 0%, 18%);
   --pal-light-fg-5: hsl(0, 0%, 12%);
   --pal-light-fg-6: hsl(0, 0%, 6%);
   --pal-light-fg-7: hsl(0, 0%, 0%);
   --pal-dark-fg-0: hsl(0, 0%, 58%);
   --pal-dark-fg-1: hsl(0, 0%, 64%);
   --pal-dark-fg-2: hsl(0, 0%, 70%);
   --pal-dark-fg-3: hsl(0, 0%, 76%);
   --pal-dark-fg-4: hsl(0, 0%, 82%);
   --pal-dark-fg-5: hsl(0, 0%, 88%);
   --pal-dark-fg-6: hsl(0, 0%, 94%);
   --pal-dark-fg-7: hsl(0, 0%, 100%);
   --pal-light-sel-0: hsl(225, 35%, 70%);
   --pal-light-sel-1: hsl(225, 35%, 67%);
   --pal-light-sel-2: hsl(225, 35%, 64%);
   --pal-light-sel-3: hsl(225, 35%, 61%);
   --pal-light-sel-4: hsl(225, 35%, 58%);
   --pal-light-sel-5: hsl(225, 35%, 55%);
   --pal-light-sel-6: hsl(225, 35%, 52%);
   --pal-light-sel-7: hsl(225, 35%, 49%);
   --pal-dark-sel-0: hsl(225, 35%, 40%);
   --pal-dark-sel-1: hsl(225, 35%, 43%);
   --pal-dark-sel-2: hsl(225, 35%, 46%);
   --pal-dark-sel-3: hsl(225, 35%, 49%);
   --pal-dark-sel-4: hsl(225, 35%, 52%);
   --pal-dark-sel-5: hsl(225, 35%, 55%);
   --pal-dark-sel-6: hsl(225, 35%, 58%);
   --pal-dark-sel-7: hsl(225, 35%, 61%);
   --pal-light-dis-0: hsl(225, 2%, 90%);
   --pal-light-dis-1: hsl(225, 2%, 87%);
   --pal-light-dis-2: hsl(225, 2%, 84%);
   --pal-light-dis-3: hsl(225, 2%, 81%);
   --pal-light-dis-4: hsl(225, 2%, 78%);
   --pal-light-dis-5: hsl(225, 2%, 75%);
   --pal-light-dis-6: hsl(225, 2%, 72%);
   --pal-light-dis-7: hsl(225, 2%, 69%);
   --pal-dark-dis-0: hsl(225, 2%, 20%);
   --pal-dark-dis-1: hsl(225, 2%, 23%);
   --pal-dark-dis-2: hsl(225, 2%, 26%);
   --pal-dark-dis-3: hsl(225, 2%, 29%);
   --pal-dark-dis-4: hsl(225, 2%, 32%);
   --pal-dark-dis-5: hsl(225, 2%, 35%);
   --pal-dark-dis-6: hsl(225, 2%, 38%);
   --pal-dark-dis-7: hsl(225, 2%, 41%);
   --pal-light-ok-0: #00c811;
   --pal-light-ok-1: #00b910;
   --pal-light-ok-2: #00a90e;
   --pal-light-ok-3: #009a0d;
   --pal-light-ok-4: #008b0c;
   --pal-light-ok-5: #007c0a;
   --pal-light-ok-6: #006c09;
   --pal-light-ok-7: #005d08;
   --pal-dark-ok-0: #00c811;
   --pal-dark-ok-1: #00d712;
   --pal-dark-ok-2: #00e714;
   --pal-dark-ok-3: #00f615;
   --pal-dark-ok-4: #06ff1b;
   --pal-dark-ok-5: #16ff29;
   --pal-dark-ok-6: #25ff37;
   --pal-dark-ok-7: #34ff45;
   --pal-light-info-0: #33b5e5;
   --pal-light-info-1: #25b0e3;
   --pal-light-info-2: #1ca9dd;
   --pal-light-info-3: #1a9fd0;
   --pal-light-info-4: #1994c2;
   --pal-light-info-5: #178ab4;
   --pal-light-info-6: #1580a7;
   --pal-light-info-7: #147599;
   --pal-dark-info-0: #33b5e5;
   --pal-dark-info-1: #41bae7;
   --pal-dark-info-2: #4ebfe8;
   --pal-dark-info-3: #5cc4ea;
   --pal-dark-info-4: #69c9ec;
   --pal-dark-info-5: #77ceee;
   --pal-dark-info-6: #84d3ef;
   --pal-dark-info-7: #92d7f1;
   --pal-light-warn-0: #fffd7a;
   --pal-light-warn-1: #fffd6b;
   --pal-light-warn-2: #fffd5b;
   --pal-light-warn-3: #fffc4c;
   --pal-light-warn-4: #fffc3d;
   --pal-light-warn-5: #fffc2e;
   --pal-light-warn-6: #fffc1e;
   --pal-light-warn-7: #fffb0f;
   --pal-dark-warn-0: #fffd7a;
   --pal-dark-warn-1: #fffd89;
   --pal-dark-warn-2: #fffd99;
   --pal-dark-warn-3: #fffea8;
   --pal-dark-warn-4: #fffeb7;
   --pal-dark-warn-5: #fffec7;
   --pal-dark-warn-6: #fffed6;
   --pal-dark-warn-7: #ffffe5;
   --pal-light-err-0: #ff4444;
   --pal-light-err-1: #ff3535;
   --pal-light-err-2: #ff2525;
   --pal-light-err-3: #ff1616;
   --pal-light-err-4: #ff0707;
   --pal-light-err-5: #f60000;
   --pal-light-err-6: #e70000;
   --pal-light-err-7: #d80000;
   --pal-dark-err-0: #ff4444;
   --pal-dark-err-1: #ff5353;
   --pal-dark-err-2: #ff6363;
   --pal-dark-err-3: #ff7272;
   --pal-dark-err-4: #ff8181;
   --pal-dark-err-5: #ff9191;
   --pal-dark-err-6: #ffa0a0;
   --pal-dark-err-7: #ffafaf;
   --top-bar-btn-bg: #4D4D4D;
   --top-bar-btn-fg: black;
   --info-box-col-bg: #1C1C1E;
   --top-bar-col-bo: #3A3A3B;
}

.darkTheme {
   color: var(--white);
   background-color: var(--black);
   --prim-def-col-fg: var(--pal-dark-fg-5);
   --prim-def-col-bg: var(--pal-dark-4);
   --prim-def-col-bo: var(--pal-dark-6);
   --prim-def-col-fg-hover: var(--pal-dark-fg-7);
   --prim-def-col-bg-hover: var(--pal-dark-5);
   --prim-def-col-bo-hover: var(--pal-dark-6);
   --prim-def-col-fg-focus: var(--pal-dark-fg-7);
   --prim-def-col-bg-focus: var(--pal-dark-5);
   --prim-def-col-bo-focus: var(--pal-dark-6);
   --prim-sel-def-col-fg: var(--pal-dark-fg-5);
   --prim-sel-def-col-bg: var(--pal-dark-sel-4);
   --prim-sel-def-col-bo: var(--pal-dark-sel-6);
   --prim-sel-col-fg-hover: var(--pal-dark-fg-7);
   --prim-sel-col-bg-hover: var(--pal-dark-sel-5);
   --prim-sel-col-bo-hover: var(--pal-dark-6);
   --prim-sel-col-fg-focus: var(--pal-dark-fg-7);
   --prim-sel-col-bg-focus: var(--pal-dark-sel-5);
   --prim-sel-col-bo-focus: var(--pal-dark-sel-6);
   --prim-lst-col-fg: var(--pal-dark-fg-4);
   --prim-lst-col-bg: var(--pal-dark-0);
   --prim-lst-col-bo: var(--pal-dark-1);
   --prim-lst-col-fg-hover: var(--pal-dark-fg-5);
   --prim-lst-col-bg-hover: var(--pal-dark-sel-4);
   --prim-lst-col-bo-hover: var(--pal-dark-3);
   --prim-lst-col-fg-focus: var(--pal-dark-fg-5);
   --prim-lst-col-bg-focus: var(--pal-dark-sel-4);
   --prim-lst-col-bo-focus: var(--pal-dark-sel-4);
   --prim-dis-col-fg: var(--pal-dark-fg-1);
   --prim-dis-col-bg: var(--pal-dark-7);
   --prim-dis-col-bo: var(--pal-dark-2);
   --scnd-def-col-fg: var(--pal-dark-fg-5);
   --scnd-def-col-bg: var(--pal-dark-2);
   --scnd-def-col-bo: var(--pal-dark-4);
   --scnd-def-col-fg-hover: var(--pal-dark-fg-7);
   --scnd-def-col-bg-hover: var(--pal-dark-3);
   --scnd-def-col-bo-hover: var(--pal-dark-4);
   --scnd-def-col-fg-focus: var(--pal-dark-fg-7);
   --scnd-def-col-bg-focus: var(--pal-dark-3);
   --scnd-def-col-bo-focus: var(--pal-dark-4);
   --scnd-sel-def-col-fg: var(--pal-dark-fg-5);
   --scnd-sel-def-col-bg: var(--pal-dark-sel-2);
   --scnd-sel-def-col-bo: var(--pal-dark-sel-4);
   --scnd-sel-col-fg-hover: var(--pal-dark-fg-5);
   --scnd-sel-col-bg-hover: var(--pal-dark-sel-3);
   --scnd-sel-col-bo-hover: var(--pal-dark-4);
   --scnd-sel-col-fg-focus: var(--pal-dark-fg-5);
   --scnd-sel-col-bg-focus: var(--pal-dark-sel-3);
   --scnd-sel-col-bo-focus: var(--pal-dark-sel-4);
   --scnd-lst-col-fg: var(--pal-dark-fg-4);
   --scnd-lst-col-bg: var(--pal-dark-0);
   --scnd-lst-col-bo: var(--pal-dark-1);
   --scnd-lst-col-fg-hover: var(--pal-dark-fg-5);
   --scnd-lst-col-bg-hover: var(--pal-dark-sel-4);
   --scnd-lst-col-bo-hover: var(--pal-dark-3);
   --scnd-lst-col-fg-focus: var(--pal-dark-fg-5);
   --scnd-lst-col-bg-focus: var(--pal-dark-sel-4);
   --scnd-lst-col-bo-focus: var(--pal-dark-sel-4);
   --scnd-dis-col-fg: var(--pal-dark-fg-1);
   --scnd-dis-col-bg: var(--pal-dark-0);
   --scnd-dis-col-bo: var(--pal-dark-2);
   --tert-def-col-fg: var(--pal-dark-fg-5);
   --tert-def-col-bg: var(--pal-dark-0);
   --tert-def-col-bo: var(--pal-dark-2);
   --tert-def-col-fg-hover: var(--pal-dark-fg-7);
   --tert-def-col-bg-hover: var(--pal-dark-1);
   --tert-def-col-bo-hover: var(--pal-dark-2);
   --tert-def-col-fg-focus: var(--pal-dark-fg-7);
   --tert-def-col-bg-focus: var(--pal-dark-1);
   --tert-def-col-bo-focus: var(--pal-dark-2);
   --tert-sel-def-col-fg: var(--pal-dark-fg-5);
   --tert-sel-def-col-bg: var(--pal-dark-sel-0);
   --tert-sel-def-col-bo: var(--pal-dark-sel-2);
   --tert-sel-col-fg-hover: var(--pal-dark-fg-5);
   --tert-sel-col-bg-hover: var(--pal-dark-sel-1);
   --tert-sel-col-bo-hover: var(--pal-dark-3);
   --tert-sel-col-fg-focus: var(--pal-dark-fg-5);
   --tert-sel-col-bg-focus: var(--pal-dark-sel-1);
   --tert-sel-col-bo-focus: var(--pal-dark-sel-3);
   --tert-lst-col-fg: var(--pal-dark-fg-4);
   --tert-lst-col-bg: var(--pal-dark-0);
   --tert-lst-col-bo: var(--pal-dark-1);
   --tert-lst-col-fg-hover: var(--pal-dark-fg-5);
   --tert-lst-col-bg-hover: var(--pal-dark-sel-4);
   --tert-lst-col-bo-hover: var(--pal-dark-3);
   --tert-lst-col-fg-focus: var(--pal-dark-fg-5);
   --tert-lst-col-bg-focus: var(--pal-dark-sel-4);
   --tert-lst-col-bo-focus: var(--pal-dark-sel-4);
   --tert-dis-col-fg: var(--pal-dark-fg-1);
   --tert-dis-col-bg: var(--pal-dark-0);
   --tert-dis-col-bo: var(--pal-dark-2);
   --prim-info-col-fg: var(--pal-dark-fg-5);
   --prim-info-col-bg: var(--pal-dark-info-0);
   --prim-info-col-bo: var(--pal-dark-info-7);
   --prim-err-col-fg: var(--pal-dark-fg-5);
   --prim-err-col-bg: var(--pal-dark-err-0);
   --prim-err-col-bo: var(--pal-dark-err-7);
   --prim-warn-col-fg: var(--pal-dark-fg-5);
   --prim-warn-col-bg: var(--pal-dark-warn-0);
   --prim-warn-col-bo: var(--pal-dark-warn-7);
   --prim-ok-col-fg: var(--pal-dark-fg-5);
   --prim-ok-col-bg: var(--pal-dark-ok-0);
   --prim-ok-col-bo: var(--pal-dark-ok-7);
}

.mainTheme {
   color: var(--black);
   background-color: var(--white);
   --prim-def-col-fg: var(--pal-light-fg-5);
   --prim-def-col-bg: var(--pal-light-4);
   --prim-def-col-bo: var(--pal-light-6);
   --prim-def-col-fg-hover: var(--pal-light-fg-7);
   --prim-def-col-bg-hover: var(--pal-light-5);
   --prim-def-col-bo-hover: var(--pal-light-6);
   --prim-def-col-fg-focus: var(--pal-light-fg-7);
   --prim-def-col-bg-focus: var(--pal-light-5);
   --prim-def-col-bo-focus: var(--pal-light-6);
   --prim-sel-def-col-fg: var(--pal-light-fg-5);
   --prim-sel-def-col-bg: var(--pal-light-sel-4);
   --prim-sel-def-col-bo: var(--pal-light-sel-6);
   --prim-sel-col-fg-hover: var(--pal-light-fg-7);
   --prim-sel-col-bg-hover: var(--pal-light-sel-5);
   --prim-sel-col-bo-hover: var(--pal-light-6);
   --prim-sel-col-fg-focus: var(--pal-light-fg-7);
   --prim-sel-col-bg-focus: var(--pal-light-sel-5);
   --prim-sel-col-bo-focus: var(--pal-light-sel-6);
   --prim-lst-col-fg: var(--pal-light-fg-4);
   --prim-lst-col-bg: var(--pal-light-0);
   --prim-lst-col-bo: var(--pal-light-1);
   --prim-lst-col-fg-hover: var(--pal-light-fg-5);
   --prim-lst-col-bg-hover: var(--pal-light-sel-4);
   --prim-lst-col-bo-hover: var(--pal-light-3);
   --prim-lst-col-fg-focus: var(--pal-light-fg-5);
   --prim-lst-col-bg-focus: var(--pal-light-sel-4);
   --prim-lst-col-bo-focus: var(--pal-light-sel-4);
   --prim-dis-col-fg: var(--pal-light-fg-1);
   --prim-dis-col-bg: var(--pal-light-7);
   --prim-dis-col-bo: var(--pal-light-2);
   --scnd-def-col-fg: var(--pal-light-fg-5);
   --scnd-def-col-bg: var(--pal-light-2);
   --scnd-def-col-bo: var(--pal-light-4);
   --scnd-def-col-fg-hover: var(--pal-light-fg-7);
   --scnd-def-col-bg-hover: var(--pal-light-3);
   --scnd-def-col-bo-hover: var(--pal-light-4);
   --scnd-def-col-fg-focus: var(--pal-light-fg-7);
   --scnd-def-col-bg-focus: var(--pal-light-3);
   --scnd-def-col-bo-focus: var(--pal-light-4);
   --scnd-sel-def-col-fg: var(--pal-light-fg-5);
   --scnd-sel-def-col-bg: var(--pal-light-sel-2);
   --scnd-sel-def-col-bo: var(--pal-light-sel-4);
   --scnd-sel-col-fg-hover: var(--pal-light-fg-5);
   --scnd-sel-col-bg-hover: var(--pal-light-sel-3);
   --scnd-sel-col-bo-hover: var(--pal-light-4);
   --scnd-sel-col-fg-focus: var(--pal-light-fg-5);
   --scnd-sel-col-bg-focus: var(--pal-light-sel-3);
   --scnd-sel-col-bo-focus: var(--pal-light-sel-4);
   --scnd-lst-col-fg: var(--pal-light-fg-4);
   --scnd-lst-col-bg: var(--pal-light-0);
   --scnd-lst-col-bo: var(--pal-light-1);
   --scnd-lst-col-fg-hover: var(--pal-light-fg-5);
   --scnd-lst-col-bg-hover: var(--pal-light-sel-4);
   --scnd-lst-col-bo-hover: var(--pal-light-3);
   --scnd-lst-col-fg-focus: var(--pal-light-fg-5);
   --scnd-lst-col-bg-focus: var(--pal-light-sel-4);
   --scnd-lst-col-bo-focus: var(--pal-light-sel-4);
   --scnd-dis-col-fg: var(--pal-light-fg-1);
   --scnd-dis-col-bg: var(--pal-light-0);
   --scnd-dis-col-bo: var(--pal-light-2);
   --tert-def-col-fg: var(--pal-light-fg-5);
   --tert-def-col-bg: var(--pal-light-0);
   --tert-def-col-bo: var(--pal-light-2);
   --tert-def-col-fg-hover: var(--pal-light-fg-7);
   --tert-def-col-bg-hover: var(--pal-light-1);
   --tert-def-col-bo-hover: var(--pal-light-2);
   --tert-def-col-fg-focus: var(--pal-light-fg-7);
   --tert-def-col-bg-focus: var(--pal-light-1);
   --tert-def-col-bo-focus: var(--pal-light-2);
   --tert-sel-def-col-fg: var(--pal-light-fg-5);
   --tert-sel-def-col-bg: var(--pal-light-sel-0);
   --tert-sel-def-col-bo: var(--pal-light-sel-2);
   --tert-sel-col-fg-hover: var(--pal-light-fg-5);
   --tert-sel-col-bg-hover: var(--pal-light-sel-1);
   --tert-sel-col-bo-hover: var(--pal-light-3);
   --tert-sel-col-fg-focus: var(--pal-light-fg-5);
   --tert-sel-col-bg-focus: var(--pal-light-sel-1);
   --tert-sel-col-bo-focus: var(--pal-light-sel-3);
   --tert-lst-col-fg: var(--pal-light-fg-4);
   --tert-lst-col-bg: var(--pal-light-0);
   --tert-lst-col-bo: var(--pal-light-1);
   --tert-lst-col-fg-hover: var(--pal-light-fg-5);
   --tert-lst-col-bg-hover: var(--pal-light-sel-4);
   --tert-lst-col-bo-hover: var(--pal-light-3);
   --tert-lst-col-fg-focus: var(--pal-light-fg-5);
   --tert-lst-col-bg-focus: var(--pal-light-sel-4);
   --tert-lst-col-bo-focus: var(--pal-light-sel-4);
   --tert-dis-col-fg: var(--pal-light-fg-1);
   --tert-dis-col-bg: var(--pal-light-0);
   --tert-dis-col-bo: var(--pal-light-2);
   --prim-info-col-fg: var(--pal-light-fg-5);
   --prim-info-col-bg: var(--pal-light-info-0);
   --prim-info-col-bo: var(--pal-light-info-7);
   --prim-err-col-fg: var(--pal-light-fg-5);
   --prim-err-col-bg: var(--pal-light-err-0);
   --prim-err-col-bo: var(--pal-light-err-7);
   --prim-warn-col-fg: var(--pal-light-fg-5);
   --prim-warn-col-bg: var(--pal-light-warn-0);
   --prim-warn-col-bo: var(--pal-light-warn-7);
   --prim-ok-col-fg: var(--pal-light-fg-5);
   --prim-ok-col-bg: var(--pal-light-ok-0);
   --prim-ok-col-bo: var(--pal-light-ok-7);
}